*.db
main
astree
pkg
*.swp
*.o
*.lo
*.so
*.a
.*
src/luv/src/zmq/perf/inproc_lat
src/luv/src/zmq/perf/inproc_thr
src/luv/src/zmq/perf/local_lat
src/luv/src/zmq/perf/local_thr
src/luv/src/zmq/perf/remote_lat
src/luv/src/zmq/perf/remote_thr
src/luv/src/zmq/src/.libs/
src/luv/src/zmq/src/libzmq.la
src/luv/src/zmq/tests/test_connect_delay
src/luv/src/zmq/tests/test_connect_resolve
src/luv/src/zmq/tests/test_hwm
src/luv/src/zmq/tests/test_invalid_rep
src/luv/src/zmq/tests/test_last_endpoint
src/luv/src/zmq/tests/test_monitor
src/luv/src/zmq/tests/test_msg_flags
src/luv/src/zmq/tests/test_pair_inproc
src/luv/src/zmq/tests/test_pair_ipc
src/luv/src/zmq/tests/test_pair_tcp
src/luv/src/zmq/tests/test_reqrep_device
src/luv/src/zmq/tests/test_reqrep_inproc
src/luv/src/zmq/tests/test_reqrep_ipc
src/luv/src/zmq/tests/test_reqrep_tcp
src/luv/src/zmq/tests/test_router_mandatory
src/luv/src/zmq/tests/test_shutdown_stress
src/luv/src/zmq/tests/test_sub_forward
src/luv/src/zmq/tests/test_term_endpoint
src/luv/src/zmq/tests/test_timeo
